<header class="site-header sticky-top py-1">
    <div>
      <nav class="container d-flex d-flex-column justify-content-between">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/registration">Registration</a>
        <a class="nav-link" routerLink="/auth">Sign In</a>
        <a class="nav-link" routerLink="/personalArea">Personal Area</a>
        <a class="nav-link" routerLink="/about">About</a>
      </nav>
    </div>
  </header>